*~
*.bak
*.log
*.diff
*.err
*.orig
*.pid
*.rej
*.seed
*.swo
*.swp
*.vi
*.zip

._*
.cache
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

node_modules
coverage

# Editor files
.idea
.project
.settings
.metadata
.tmproj
nbproject
.vscode
jsconfig.json
*.esproj
*.komodoproject
.komodotools
.vscode
*.sublime-project
*.sublime-workspace

pug_runtime.js
