._*
.AppleDouble
.cache
.classpath
.DS_Store
.idea
.lock-wscript
.LSOverride
.metadata
.nyc_output
.project
.settings
.Spotlight-V100
.tmproj
.Trashes
.vscode
*.bak
*.diff
*.err
*.esproj
*.iml
*.ipr
*.iws
*.lnk
*.lock
*.log
*.orig
*.pid
*.rej
*.sass-cache
*.seed
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tgz
*.vi
*~
~*
$RECYCLE.BIN/
cov-int/
coverage/
Desktop.ini
ehthumbs.db
Icon
lib-cov/
nbproject
node_modules/
out/
package-lock.*
pids
test-files/
Thumbs.db

!.vscode/launch.json
